{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

	<div class="container mb-5 service">
		<div class="row mb-5">
			<nav>
				<ul class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{% url 'phonePlat:index' %}">TOP</a>
					</li>
					<li class="breadcrumb-item active">
						<span>サービス一覧</span>
					</li>
				</ul>
			</nav>
		</div>
		<section class="row category">
			<div class="form-group col-2 mb-3">
				<label for="categorySelect">カテゴリー：</label>
				<select name="category" id="categorySelect" title="category" class="custom-select category-select">
					<option value="all">すべて</option>
					<option value="csim">CSIM</option>
					<option value="others">その他</option>
				</select>
			</div>
			<div class="form-group col-2 mb-3">
				<label for="categorySelect">リマインド：</label>
				<select name="remind" id="remindSelect" title="remind" class="custom-select remind-select">
					<option value="all">すべて</option>
					<option value="start">開始</option>
					<option value="end">終了</option>
				</select>
			</div>
		</section>
		<section class="search">
			<div class="filter">
				<i class="fa-solid fa-folder-open icon"></i>
				<span class="menu">フィルタ：</span>
			</div>
			<div class="result">
				<i class="fa-solid fa-folder-open icon"></i>
				<span class="menu">集計：</span>
			</div>
		</section>
		<section class="row my-3 list">
			<table class="table table-sm table-striped table-bordered table-hover mt-3">
				<thead class="table__header">
					<tr>
						<th>カテゴリー</th>
						<th>サービスNo.</th>
						<th>サービス名</th>
						<th>チーム名</th>
						<th>サービス開始日</th>
						<th>ステータス</th>
						<th>祝日設定</th>
						<th>24時間/365対応</th>
						<th>リマインド</th>
						<th>更新日</th>
						<th>更新者</th>
					</tr>
				</thead>
				<tbody>
					{% for service in service_list %}
						<tr id="serviceTable{{ service.pk }}" class="list-table">
							<td id="serviceCategory{{ service.pk }}">
								{{ service.category }}
							</td>
							<td>
								{% if service.number is not None %}
									{{ service.number }}
								{% endif %}
							</td>
							<td>{{ service.name }}</td>
							<td>{{ service.team }}</td>
							<td>
								{% if service.start_date is not None %}
									{{ service.start_date }}
								{% endif %}
							</td>
							<td>{{ service.status }}</td>
							<td>
								<label for="holiday{{ service.pk }}"></label>
								<input type="checkbox" class="form-check-input" id="holiday{{ service.pk }}"
								                                                    value="" disabled {% if service.holiday %}checked{% endif %}>
							</td>
							<td>
								<label for="always{{ service.pk }}"></label>
								<input type="checkbox" class="form-check-input" id="always{{ service.pk }}"
								       value="" disabled {% if service.always %}checked{% endif %}>
							</td>
							<td>
								{% if service.remind is not None %}
									{{ service.remind }}
								{% endif %}
							</td>
							<td>{{ service.updated_date }}</td>
							<td>
								{% if service.updated_user is not None %}
									{{ service.updated_user }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
		<div class="row">
			{% include 'pagination.html' %}
		</div>
		<div class="row mt-3">
			<a href="{% url 'phonePlat:index' %}">
				<i class="fas fa-undo-alt"></i>戻る
			</a>
		</div>
	</div>

{% endblock content%}

{% block javascript %}
	<script type="text/javascript">
		let get_category_select = document.getElementById('categorySelect')
		let select_category_val = get_category_select.value;
        {% for service in service_list %}
	        let get_service_table_{{ service.pk }} = document.getElementById('serviceTable{{ service.pk }}');
            get_service_table_{{ service.pk }}.onclick = function() {
                location.href = '{% url "phonePlat:service_detail" service.pk %}';
            }
        {% endfor %}

        const selectCategory = document.querySelector('.category-select')
		selectCategory.addEventListener('change', (event) => {
            let category_value = event.target.value;
            {% for service in service_list %}
	            let get_service_table_{{ service.pk }} = document.getElementById('serviceTable{{ service.pk }}');
                let get_service_category_{{ service.pk }} = document.getElementById('serviceCategory{{ service.pk }}');
	            if (category_value === get_service_category_{{ service.pk }}.innerText ) {
                    get_service_table_{{ service.pk }}.style.display = 'block';
                } else if (category_value === 'all') {
                    get_service_table_{{ service.pk }}.style.display = 'block';
                } else {
                    get_service_table_{{ service.pk }}.style.display = 'none';
                }
            {% endfor %}
		});



	</script>

{% endblock %}