{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

	<div class="container">
		<div class="row mb-5">
			<a href="{% url 'phonePlat:service_list' %}">
				<i class="fas fa-undo-alt"></i>戻る
			</a>
			<div class="col-9 offset-1">
				<div class="row">
					<h3 class="service-name">{{ service.number }} {{ service.name }}</h3>
					<p>作成日時：</p>
					<p>更新日時：
						{% if updated_date is not None %}
							{{ updated_date }}
						{% endif %}
					</p>
					<p>
						{% if updated_user is not None %}
							{{ updated_user }}
						{% endif %}
					</p>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="row mb-5">
							<div class="col-2">サービスNo.</div>
							<div class="col-6">{{ service.number }}</div>
						</div>
						<div class="row mb-5">
							<div class="col-2">サービス名</div>
							<div class="col-8">{{ service.name }}</div>
						</div>
						<div class="row mb-5">
							<div class="col-2">ステータス</div>
							<div class="col-3">{{ service.status }}</div>
							<div class="col-2">チーム名</div>
							<div class="col-3">{{ service.team }}</div>
						</div>
						<div class="row mb-5">
							<div class="col-2">サービス開始日</div>
							<div class="col-3">
								{% if service.start_date is not None %}
									{{ service.start_date }}
								{% endif %}
							</div>
							<div class="col-2">サービス終了日</div>
							<div class="col-3">
								{% if service.end_date is not None %}
									{{ service.end_date }}
								{% endif %}
							</div>
						</div>
						<div class="row mb-5">
							<div class="col-2">リマインド</div>
							<div class="col-3">{{ service.remind }}</div>
						</div>
						<div class="row mb-5">
							<div class="col-2">
								<label for="holiday{{ service.pk }}">祝日設定</label>
							</div>
							<div class="col-3">
								<input type="checkbox" class="form-check-input" id="holiday{{ service.pk }}" value="holiday"
								disabled {% if service.holiday %}checked{% endif %}>
							</div>

							<div class="col-2">CH数</div>
							<div class="col-3">{{ service.channel_count }}</div>
						</div>
						<div class="row mb-3">
							<div class="col-2">内容</div>
							<div class="col-10">
								{% if service.description is not None %}
									{{ service.description }}
								{% else %}
									<label for="non-text"></label>
									<input type="text" class="form-control" id="non-text" disabled>
								{% endif %}
							</div>
						</div>
						<button type="button" class="btn btn-info float-end" onclick="location.href='{% url "phonePlat:service_update" service.pk %}'">
							編集
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}