{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}

{% block content %}

	<div class="container my-5">
		<div class="row mb-5">
			<a href="{% url 'phonePlat:payingcode_detail' payingcode.pk %}">
				<i class="fas fa-undo-alt"></i>戻る
			</a>
		</div>
		<div class="row mb-5">
			<div class="col-9 offset-1">
				<div class="row">
					<h3 class="payingcode-name mb-3">{{ payingcode }}</h3>
					<p>作成日時：</p>
				</div>
				<div class="card">
					<div class="card-body">
						{% crispy form %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}