{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

	<div class="container mb-5 detail">
		<div class="row mb-3">
			<nav>
				<ul class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{% url 'phonePlat:index' %}">TOP</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{% url 'phonePlat:access_line_list' %}">
							<span>アクセス回線一覧</span>
						</a>
					</li>
					<li class="breadcrumb-item active">
						詳細ページ（{{ accessline }}）
					</li>
				</ul>
			</nav>
		</div>
		<section class="header mt-3">
			<h3 class="title">{{ accessline }}</h3>
			<div class="row date">
				<div class="col-4">
					<span>作成日時：{{ accessline.created_at }}</span>
				</div>
				<div class="col-4">
					<span>更新日時：
						<i class="fa-solid fa-user icon"></i>
						<span class="username">{{ accessline.updated_user }}</span>
						{{ accessline.updated_at }}
					</span>
				</div>
				<div class="col-2 offset-2">
					<button type="button" class="detail-button">
						<i class="fa-solid fa-backward"></i>前
					</button>
					<button class="detail-count"></button>
					<button type="button" class="detail-button">
						<i class="fa-solid fa-forward"></i>次
					</button>
				</div>
			</div>
		</section>
		<section class="row mt-3 detail__main">
			<div class="col-9 content">
				<div class="card">
					<div class="card-body">
						<div class="row mb-5">
							<div class="col-2">ロケーション</div>
							<div class="col-4">{{ accessline.location }}</div>
						</div>
						<div class="row mb-5">
							<div class="col-2">システム</div>
							<div class="col-4">
								{% if accessline.system is not None %}
									{{ accessline.system }}
								{% endif %}
							</div>
							<div class="col-2">ステータス</div>
							<div class="col-4">{{ accessline.status }}</div>
						</div>
						<div class="row mb-5">
							<div class="col-2">親番号</div>
							<div class="col-4">
								{% if accessline.parent_number is not None %}
									{{ accessline.parent_number }}
								{% endif %} 
							</div>
							<div class="col-2">開通日</div>
							<div class="col-4">
								{% if accessline.opening_date is not None %}
									{{ accessline.opening_date }}
								{% endif %}
							</div>
						</div>
						<div class="row mb-5">
							<div class="col-2">契約番号</div>
							<div class="col-2">
								{% if accessline.contract_number is not None %}
									{{ accessline.contract_number }}
								{% endif %} 
							</div>
						</div>
						<div class="row mb-5">
							<div class="col-2">
								<label for="proportion{{ accessline.pk }}">按分集計対象</label>
							</div>
							<div class="col-4">
								<input type="checkbox" class="form-check-input" id="proportion{{ accessline.pk }}"
								value="" disabled {% if accessline.proportion %}checked{% endif %}>
							</div>
							<div class="col-2">しきい値</div>
							<div class="col-4">{{ accessline.threshold_value }}</div>
						</div>
						<div class="row mb-5">
							<div class="col-2">余剰数</div>
							<div class="col-4">{{ accessline.surplus_count }}</div>
							<div class="col-2">余裕数</div>
							<div class="col-4">{{ accessline.allowance_count }}</div>
						</div>
						<button type="button" class="btn btn-info float-end"
						        onclick="location.href='{% url "phonePlat:access_line_update" accessline.pk %}'">
							編集
						</button>
					</div>
				</div>
			</div>
		</section>

	</div>

{% endblock content %}