{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
	
	<div class="container mt-5">
		<div class="row index">
			{% for key, value in link_list.items %}
				<div class="col-3 index__menu">
					<div class="card" id="index{{ key }}">
						<div class="card-body">
							<span class="value">
								{{ value }}
							</span>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	
{% endblock content %}

{% block javascript %}
	<script type="text/javascript">
        {% for key, value in link_list.items %}
	        let get_{{ key }} = document.querySelector("#index{{ key }}");
	        get_{{ key }}.onclick = function() {
		        if ('{{ key }}' === 'service') {
                    location.href = '{% url "phonePlat:service_list" %}';
                } else if ('{{ key }}' === 'scenario') {
                    location.href = '{% url "phonePlat:scenario_list" %}';
                } else if ('{{ key }}' === 'phone') {
                    location.href = '{% url "phonePlat:phone_number_list" %}';
                } else if ('{{ key }}' === 'access'){
                    location.href = '{% url "phonePlat:access_line_list" %}';
                } else if ('{{ key }}' === 'incoming') {
                    location.href = '{% url "phonePlat:incoming_number_list" %}';
                } else if ('{{ key }}' === 'paying') {
                    location.href = '{% url "phonePlat:paying_code_list" %}';
		        } else {
	                location.href = '#';
		        }
	        }
        {% endfor %}


	</script>

{% endblock %}