@import "mixin";

$cWhite: white;
$cBlack: black;
$cGreen: green;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.page-wrapper {
  position: relative;
}

.main-title {
  font-family: 'Permanent Marker', cusive;
  font-size: 2em;
  color: $cGreen;
  & .char {
    display: inline-block;
    @include animation(
      $name: kf-animate-chars,
      $duration: 0.2s,
      // $iteration-count: infinite,
      $timing-function: ease-in-out,
      $fill-mode: both,
    );
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.2s;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  80.1% {
    opacity: 1;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}

.index-menu {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  & .menu-card {
    height: 100px;
    text-align: center;
    border-radius: 10px;

    & .card-value {
      font-size: 20px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 5px 5px 20px darkgreen;
      background-color: $cGreen;
      color: $cWhite;
    }
    &:active {
        transform: scale(0.9);
    }
  }
}

.list-table {
  cursor: pointer;
}

.st-footer {
  color: $cWhite;
  background-color: $cGreen;
  width: 100%;
  height: 10%;
  margin-top: 60px;
  position: absolute;
  bottom: 0;

}
