@import "../modules/mixin";
@import "../modules/variables";
//@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.search-open {
  display: flex;
  border: solid 1px silver;
  border-radius: 10px;
}

.button-style {
  border: solid thin $cButtonBorder;
  border-radius: 5px;
  background-color: $cButton;
  color: $cBlack;
  height: 30px;
  font-weight: bold;
}


.page-wrapper {
  position: relative;
}

.body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.icon {
  color: $cIcon;
}

.header {
  position: relative;
  .logo {
  padding: 3px 0;

  & img {
    display: block;
    float: left;
    margin: 3px 5px 0;
  }

  & .animate-title {
  //font-family: 'Permanent Marker', cusive;
  //font-size: 2em;
  //color: $cGreen;

    & .char {
      display: block;
      float: left;
      padding: 0 0 0 5px;
      font-size: 26px;
      font-weight: bold;
      color: #696969;
      text-decoration: none;
      @include animation(
        $name: kf-animate-chars,
        $duration: 0.2s,
        // $iteration-count: infinite,
        $timing-function: ease-in-out,
        $fill-mode: both,
      );
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.2s;
        }
      }
    }

    &:hover {
        cursor: pointer;
      }
    }

  }
  & .navigation {
    background-color: $cBg;
    border-radius: 25px 5px 5px 25px;
    position: absolute;
    top: 0;
    right: 5px;
    margin: 5px 0;
    width: 50%;
    height: 40px;

    &__item {
      &:hover {
        background-color: #817865;
      }
      & .menu {
        color: $cWhite;
        text-decoration: none;
        margin: 0 3rem;
      }

      & .dropdown-menu.show {
        color: black;
        background-color: #feeebd;
        border: thin solid $cBorder;
        &:hover {
          background-color: $cWhite;
        }
      }
    }
    &__search {
      margin: 0 5px;
      & input {
        height: 25px;
      }
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  80.1% {
    opacity: 1;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}

.index {
  &__menu {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    & .card {
      height: 100px;
      text-align: left;
      border-radius: 10px;
      border: solid 2px #ffa500;

      & .value {
        font-size: 20px;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 20px $cBorder;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.list {
  & .icon {
    &:hover {
      cursor: pointer;
    }
  }
  & .table {
    --bs-table-striped-bg: rgba(0, 200, 255, 0.15);
    &__header {
      color: $cWhite;
      background-color: $cBg;
      border-radius: 5px;
      height: 40px;
    }
  }
  .list-table {
    cursor: pointer;
  }

}


.search {
  & .open {
    margin: 5px;
  }

  & .filter {

    &__open {
      @extend .search-open;
      & button {
        @extend .button-style;
      }

      & .system {
        display: flex;

        & label {
          width: 5rem;
        }
        & input {
          height: 30px;
        }

      }
    }
  }

  & .result {
    &__open {
      @extend .search-open;
      & button {
        border: none;
        border-radius: 5px;
      }
    }
  }
}

.st-footer {
  color: $cWhite;
  background-color: $cGreen;
  width: 100%;
  height: 10%;
  margin-top: 60px;
  position: absolute;
  bottom: 0;

}
